@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

}
body {padding: 30px;}
h3 {padding-bottom: 50px;color: black;padding-top: 20px;}
.text-center {text-align: center;}
.color-black {color: black;}
/* .pt20 { padding-top: 20px; }
.pt50 { padding-top: 50px; }
.pb30 { padding-bottom: 30px; }
.pb50 { padding-bottom: 50px; }
.qdt-html-template ul {list-style: none;}
.qdt-html-template li {display: inline-block;}
.banner {width:100%; height:100%; max-width:810px; max-height: 250px;} */

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}


.container {  display: grid;
    grid-template-columns: 30% 35% 35.3%;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo header header"
      "sidebar-nav selection-bar selection-bar"
      "sidebar-nav filter-area-1 filter-area-2"
      "sidebar-nav objeto1 objeto2"
      "sidebar-nav objeto3 objeto4"
      "sidebar-nav objeto5 objeto6";
  }
  
  .header { grid-area: header; }
  
  .logo { grid-area: logo; }
  
  .selection-bar { grid-area: selection-bar; }
  
  .filter-area-1 { grid-area: filter-area-1; }
  
  .filter-area-2 { grid-area: filter-area-2; }
  
  .objeto1 { grid-area: objeto1; }
  
  .objeto2 { grid-area: objeto2; }
  
  .objeto3 { grid-area: objeto3; }
  
  .objeto4 { grid-area: objeto4; }
  
  .objeto5 { grid-area: objeto5; }
  
  .objeto6 { grid-area: objeto6; }
  
  .sidebar-nav { grid-area: sidebar-nav; }

  
/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
  